
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

*.parquet
*.crc
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scalastyle
scalastyle-output.xml

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

*.iws


# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.iml
modules.xml
.idea/misc.xml
*.ipr

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
**/*.7z


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

testAT/src/test/resources/docker/datio/spark/lib


*/*.3ds
**/*.3g2
**/*.3gp
**/*.7z

**/*.a

**/*.aac

**/*.adp

**/*.ai

**/*.aif

**/*.aiff

**/*.alz

**/*.ape

**/*.apk

**/*.appimage

**/*.ar

**/*.arj

**/*.asf

**/*.au

**/*.avi

**/*.bak

**/*.baml

**/*.bh

**/*.bin

**/*.bk

**/*.btif

**/*.bz2

**/*.bzip2

**/*.cab

**/*.caf

**/*.cgm

**/*.class

**/*.cmx

**/*.cpio

**/*.cr2

**/*.cur

**/*.dat

**/*.dcm

**/*.deb

**/*.dex

**/*.djvu

**/*.dll

**/*.dmg

**/*.dng

**/*.doc

**/*.docm

**/*.docx

**/*.dot

**/*.dotm

**/*.dra

**/*.DS_Store

**/*.dsk

**/*.dts

**/*.dtshd

**/*.dvb

**/*.dwg

**/*.dxf

**/*.ear

**/*.ecelp4800

**/*.ecelp7470

**/*.ecelp9600

**/*.egg

**/*.eol

**/*.eot

**/*.epub

**/*.exe

**/*.f4v

**/*.fbs

**/*.fh

**/*.fla

**/*.flac

**/*.flatpak

**/*.fli

**/*.flv

**/*.fpx

**/*.fst

**/*.fvt

**/*.g3

**/*.gh

**/*.graffle

**/*.gz

**/*.gzip

**/*.h261

**/*.h263

**/*.h264

**/*.ief

**/*.img

**/*.ipa

**/*.iso

**/*.jar

**/*.jpgv

**/*.jpm

**/*.jxr

**/*.key

**/*.ktx

**/*.lha

**/*.lib

**/*.lvp

**/*.lz

**/*.lzh

**/*.lzma

**/*.lzo

**/*.m3u

**/*.m4a

**/*.m4v

**/*.mar

**/*.mdi

**/*.mht

**/*.mid

**/*.midi

**/*.mj2

**/*.mka

**/*.mkv

**/*.mmr

**/*.mng

**/*.mobi

**/*.mov

**/*.movie

**/*.mp3

**/*.mp4

**/*.mp4a

**/*.mpeg

**/*.mpg

**/*.mpga

**/*.mxu

**/*.nef

**/*.npx

**/*.numbers

**/*.nupkg

**/*.o

**/*.odp

**/*.ods

**/*.odt

**/*.oga

**/*.ogg

**/*.ogv

**/*.otf

**/*.ott

**/*.pages

**/*.pb

**/*.pbm

**/*.pcx

**/*.pdb

**/*.pdf

**/*.pea

**/*.pgm

**/*.pic

**/*.pnm

**/*.pot

**/*.potm

**/*.potx

**/*.ppa

**/*.ppam

**/*.ppm

**/*.pps

**/*.ppsm

**/*.ppsx

**/*.ppt

**/*.pptm

**/*.pptx

**/*.pya

**/*.pyc

**/*.pyo

**/*.pyv

**/*.qt

**/*.rar

**/*.ras

**/*.raw

**/*.resources

**/*.rgb

**/*.rip

**/*.rlc

**/*.rmf

**/*.rmvb

**/*.rpm

**/*.rtf

**/*.rz

**/*.s3m

**/*.s7z

**/*.scpt

**/*.sgi

**/*.shar

**/*.snap

**/*.sil

**/*.sketch

**/*.slk

**/*.smv

**/*.snk

**/*.so

**/*.stl

**/*.suo

**/*.sub

**/*.swf

**/*.tar

**/*.tbz

**/*.tbz2

**/*.tga

**/*.tgz

**/*.thmx

**/*.tlz

**/*.ttc

**/*.ttf

**/*.txz

**/*.udf

**/*.uvh

**/*.uvi

**/*.uvm

**/*.uvp

**/*.uvs

**/*.uvu

**/*.viv

**/*.vob

**/*.war

**/*.wav

**/*.wax

**/*.wbmp

**/*.wdp

**/*.weba

**/*.webm

**/*.whl

**/*.wim

**/*.wm

**/*.wma

**/*.wmv

**/*.wmx

**/*.woff

**/*.woff2

**/*.wrm

**/*.wvx

**/*.xbm

**/*.xif

**/*.xla

**/*.xlam

**/*.xls

**/*.xlsb

**/*.xlsm

**/*.xlsx

**/*.xlt

**/*.xltm

**/*.xltx

**/*.xm

**/*.xmind

**/*.xpi

**/*.xpm

**/*.xwd

**/*.xz

**/*.z

**/*.zip

**/*.zipx

**/output


